<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<dict>
		<key>assets</key>
		<array>
			<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>http://localhost:12222/41CF9DEF-C2BA-4271-987A-A0C83542F454.ipa</string>
			</dict>
		</array>
		<key>metadata</key>
		<array>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zuiApp.H-World</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>轻松玩</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
